.events-container {
  background-image: linear-gradient(#e0cbe8, #9f93c1);
  padding-left: 150px;
  padding-top: 50px;
}

.events {
  flex-direction: row;  
  align-items: center;
  flex: 1;
  display: flex;
}

.shadow-rectangle-events {
  width: 324px;
  height: 400px;
  margin-bottom: 50px;
  margin-right: 75px;
  border: 8px solid transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 8px;
}

.events-photo-wrapper {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .events-container {
    align-items: center;
  }

  .shadow-rectangle-events {
    width: 80%;
  }
}
