 
.events-container {
  background-image: linear-gradient(#e0cbe8, #9f93c1);
  padding: 50px 0;
  padding-left: 230px;
}

.events {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.shadow-rectangle-events {
  width: 324px;
  height: 400px;
  margin-bottom: 50px;
  margin-right: 75px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .events {
    flex-direction: column;
  }

  .shadow-rectangle-events {
    width: 100%;
    margin-right: 0;
  }
}

.event-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  margin-right: 10px;
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
  z-index: 1;
}


.events-photo-wrapper {
  margin-top: 10px;
}

.carousel-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.events-container h4 {
  text-align: left;
  color: #FFFFFF;
  font-family: "Josefin Sans";
  font-weight: bold;
}

.events-container p {
  font-family: "Josefin Sans";
  color: #FFFFFF;
  text-align: left;
}

