#Support {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.SupportUsContainer {
  text-align: center;
  max-width: 1024px;
}

#social-icon-box {
  justify-content: center;
}

.SupportSectionContainer {
  margin-bottom: 50px;
}

.social-icon {
  width: 40px;
}

@media (min-width: 900px) {
  .SupportUsContainer {
    text-align: left;
  }

  #social-icon-box {
    justify-content: left;
  }
}
